:root {
  --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.40);
    --grey: rgba(46, 47, 66, 0.70);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:#FFFFFF;
  color: var(--slate);
}

.link{
  text-decoration: none;
}

.list{
  list-style-type: none;
}

/* ----------HEADER---------- */

.header-logo{
  font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17; /* 21/18 */
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase
}

.header-logo-accent{
  color: #2e2f42;
}

.header-menu-item {
color: #2e2f42;
}

.header-menu-link{
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.02em;
    color: #434455;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color:#404bbf;
}

.header-address {
  font-style: normal;
}

.header-socials-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

.header-socials-link:hover,
.header-socials-link:focus {
  color: #404bbf;
}

/* ----------HERO---------- */

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07; /* 60/56 */
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;
}

.hero-btn {
  font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}

/* ----------STRATEGY---------- */

.strategy {}

.strategy-list {}

.strategy-item {}

.strategy-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20; /* 24/20 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.strategy-item-text {
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.02em;
}

/* ----------WAWD---------- */

.wawd {}

.wawd-title {
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; /* 40/36 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
}

.wawd-list {}

.list {}

.wawd-item {}

.wawd-img {}

/* ----------TEAM---------- */

.team {
  background-color: #F4F4FD
}

.team-title {
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11; /* 40/36 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    text-transform: capitalize;
}

.team-list {}

.team-item {
  background-color: #FFFFFF;
}

.team-img {}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20; /* 24/20 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.team-item-text {
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.02em;
}

/* ----------FOOTER---------- */

.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    /* 21/18 */
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-main-text {
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.02em;
    color: var(--cloud);
}

/* ------------PORTFOLIO------------ */

/* ----------All---------- */

.all {}

.all-btn {
  font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--ocean) ;
    cursor: pointer;
}

.all-other-btn {
  font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.04em;
    color: var(--iris);
}

.all-btn:hover,
.all-btn:focus {
  background-color: #404BBF;
}

/* ----------BCM---------- */

.bcm {}

.bcm-list {}

.bcm-item {}

.bcm-img {}

.bcm-subtitle {
  
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20; /* 24/20 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.bcm-item-text {}

/* ----------TSO---------- */

.tso {}

.tso-list {}

.tso-item {}

.tso-img {}

.tso-subtitle {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    /* 24/20 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.tso-item-text {}

/* ----------IOF---------- */

.iof {
  background-color: #F4F4FD;
}

.iof-list {}

.iof-item {
  background-color: #FFFFFF;
}

.iof-img {}

.iof-subtitle {
  font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    /* 24/20 */
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.iof-item-text {
    font-size: 16px;
    line-height: 1.50; /* 24/16 */
    letter-spacing: 0.02;
}